{% extends 'base.html' %}
{% block page_content %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    {#    <link href="cover.css" rel="stylesheet">#}

    <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            {#            <h1 class="cover-heading">Greetings to Wonder-Project!</h1>#}
            <p class="lead">
                <i>Wonder Project is a social platform.</i>
            </p>
            <p class="lead">
                Technologies used: Django, Postgres, Cloudinary & more...
            </p>
            <p class="lead">
                This project is still in development :)
            </p>
        </main>
    </div>


{% endblock %}