{% extends 'base.html' %}
{% block page_content %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
{#    <link href="cover.css" rel="stylesheet">#}

    <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Greetings to Wonder-Project!</h1>
            <p class="lead">
                Feel free to Log In or Sign Up, if you haven't an account already.</p>
            <p class="lead">
                <a href="{% url 'about' %}" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
    </div>

{% endblock %}