{% extends 'base.html' %}

{% block page_content %}
    <h1>Your search results are:</h1>
    <div class="d-inline-block">
        {% for profile in object_list %}
            <div class="card" style="width: 18rem;">
                {% if profile.picture %}
                    <img class="card-img-top" src="{{ profile.picture.url }}"
                         alt="No photo available">
                {% else %}
                    <img class="card-img-top"
                         src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png?20170328184010"
                         alt="No photo available">
                {% endif %}
                <div class=" card-body">
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <p class="card-text">
                        {% if profile.description %}
                            {{ profile.description }}
                        {% else %}
                            <h9>*User has no description*</h9>
                        {% endif %}
                    </p>
                    <a href="{% url 'profile details' pk=profile.user_id %}"
                       class="btn btn-outline-dark">Go to profile</a>
                </div>
            </div>
        {% empty %}
            <h3>Nothing found...</h3>
        {% endfor %}
    </div>

{% endblock %}