{% extends 'base.html' %}

{% block page_content %}
    <div class="container" style="padding-block: 10px; width: 15%">
        <div class="row text-center" style="margin-block: 10px">
            <input
                    type="button"
                    class="btn btn-dark"
                    value="Edit Profile"
                    onclick="location.href='{% url 'profile edit' pk=request.user.pk %}'">
        </div>
        <div class="row text-center" style="margin-block: 10px">
            <input
                    type="button"
                    class="btn btn-dark"
                    value="Change Password"
                    onclick="location.href='{% url 'change password' %}'">

        </div>
        <div class="row text-center" style="margin-block: 10px">
            <input
                    type="button"
                    class="btn btn-dark"
                    value="Friends settings">
            {#                onclick="location.href{% url '#' %}">#}
        </div>
        <div class="row text-center" style="margin-block: 10px">
            <input
                    type="button"
                    class="btn btn-dark"
                    value="Comments Settings">
            {#                onclick="location.href{% url '#' %}">#}
        </div>
        <div class="row text-center" style="margin-block: 10px">
            <input
                    type="button"
                    class="btn btn-danger"
                    value="Delete Account"
                    onclick="location.href='{% url 'user delete' pk=request.user.pk %}'">
        </div>

    </div>
{% endblock %}