<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'custom_classes.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'mediafiles/favicon.ico' %}"/>
    
    <meta charset="UTF-8">
    <title>Wonder-Project</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    {#    <link href="https://getbootstrap.com/docs/5.1/examples/headers/headers.css" rel="stylesheet">#}
</head>

<body>
<main>
    <div class="b-example-divider"></div>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'greet' %}"
                       class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                {% else %}
                    <a href="{% url 'index' %}"
                       class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                {% endif %}
                    <img class="bi me-2" src="{% static 'mediafiles/logo1.png' %}" alt="wonder-logo" width="50" height="40" title="Wonder-Project">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
{#                    <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>#}
                    {#                    <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>#}
                    {#                    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>#}
                    {#                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>#}
                </ul>

                {% if not request.user.is_authenticated %}
                    <div>
                        <input
                                type="button"
                                class="btn btn-outline-success"
                                value="Log In"
                                onclick="location.href='{% url 'login page' %}'"
                        >
                        <input
                                type="button"
                                class="btn btn-light"
                                value="Sign Up"
                                onclick="location.href='{% url 'register page' %}'"
                        >
                    </div>

                {% else %}
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="{% url 'search' %}">
                        {% csrf_token %} {# is it needed here? #}
                        <input type="search" name="search"
                               class="form-control" placeholder="Search for people..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% if request.user.userprofile.picture %}
                                <img src="{{ request.user.userprofile.picture.url }}" alt="null" width="32" height="32"
                                     class="rounded-circle">
                            {% else %}
                                <img src="{% static 'mediafiles/portrait_placeholder.png' %}"
                                     alt="null" width="32" height="32"
                                     class="rounded-circle">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            {#                            <li><a class="dropdown-item" href="#">New project...</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile details' request.user.pk %}">Profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout page' %}">Sign out</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
</main>

<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'custom_scripts.js' %}"></script>

</body>
</html>







