{% extends 'base.html' %}

{% block page_content %}

    <div style="display: flex; justify-content: center; flex-direction: row; text-align: center">
        <div class="card" style="width: 50rem;">
            {% if object.picture %}
                <img style="height: 31rem; width: 49.95rem;"
                     src="{{ get_media_prefix }}{{ object.picture.url }}"
                     class="card-img-top"
                     alt="Photo Unavailable">
            {% else %}
                <img style="height: 31rem; width: 49.95rem;"
                     src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png?20170328184010"
                     class="card-img-top"
                     alt="Photo Unavailable">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {% if object.alias %}
                        <div style="font-size:x-large">{{ object.alias }}</div>
                        <div style="font-size:small">{{ object.user.email }}</div>
                    {% else %}
                        <div style="font-size:x-large">{{ object.user.email }}</div>
                    {% endif %}
                    <hr class="post-title-line">
                </h5>
                <p class="card-text">
                <p>First name: {{ object.first_name }}</p>
                <p>Last name: {{ object.last_name }}</p>
                <p>Gender: {{ object.gender }}</p>
                {% if object.description %}
                    <p>About me: {{ object.description }}</p>
                {% endif %}


                <div>
                    <span style="font-size: x-small; text-align: left">
                        Date of birth: {{ object.date_of_birth | date }}
                    </span>
                    |
                    <span style="font-size: x-small; text-align: right">
                        Date joined: {{ object.user.date_joined | date }}
                    </span>
                </div>

                {#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; flex-direction: row; text-align: center">
        <a href="{% url 'post comment' pk=object.pk %}" type="button" class="btn btn-secondary">Leave a comment</a>
        <a href="{% url "comments" pk=object.pk %}" type="button" class="btn btn-secondary">View Comments</a>

    </div>
{% endblock %}