{% extends 'base.html' %}

{% block page_content %}
    <h1 class="text-center">Create Your Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="POST" action="{% url 'register page' %}" enctype="multipart/form-data"> {# enctype #}
                {% csrf_token %}
                <ul class="list-group">
                    {{ form.as_table }}
                </ul>
{#                <br>#}
                <div style="text-align: center">
                    <button class="btn btn-outline-dark"
                            type="submit"
                            style="width: 35%;margin-top: 7px;margin-bottom: 7px;">Create</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}